# Dependências Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs e arquivos temporários
*.log
.DS_Store
Thumbs.db

# Configurações de IDE
.vscode/
.idea/

# Certificados locais
certs/
*.pem
